/* FOR BEER LISTS */
body{
    padding-top: 50px;
    padding-bottom: 50px;
}

.beer-logo{
    display: flex;
    justify-content: center;
}

.beer-logo img{
    width: 30%;
}

.logo-header-img{
    width: 20%;
}

.beer-info-img{
    color: whitesmoke;
    text-align: center;
}

.beer-info{
    font-size: 25px;
}

span{
    color: whitesmoke;
}

.type-title, 
.abv-title,
.beer-info-title,
.glass-title{
    margin: 10px 0 ;
    text-decoration: underline;
    color: var(--font-gold);
}

.beer-type,
.beer-strength, 
.glass-type{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;

}

.abv{
    margin-top: 20px;
    text-decoration: underline;
}

.beer-strength{
    font-size: 25px;
}

.glass{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.beer-glass{
    width: 30%;
}

/* BEER */
.half-half{
    width: 80%;
}

