/* FOR BEER LISTS */

/* BEER */
.delirium{
    height: auto;
    width: 18%;
}
.lt{
    height: auto;
    width: 15%;
}

.lakewood-glass{
    height: auto;
    width: 30%;
}

.CMGH{
    height: auto;
    width: 15%;
}

.DEIPA{
    height: auto;
    width: 10%;
}

.DEIPA-glass{
    height: auto;
    width: 20%;
}

.PCGO{
    height: auto;
    width: 15%;
}

.DEB{
    height: auto;
    width: 15%;
}

.dedb-glass{
    height: auto;
    width: 15%;
}

.BH{
    height: auto;
    width: 15%;
}

.AECDC{
    height: auto;
    width: 15%;
}

.AECDC-glass{
    height: auto;
    width: 15%;
}

.BTHIPA{
    height: auto;
    width: 15%;
}

.BTHIPA-glass{
    height: auto;
    width: 20%;
}

.PH-glass{
    height: auto;
    width: 10%;   
}

.KB{
    height: auto;
    width: 15%;
}

.SIA{
    height: auto;
    width: 15%;
}

.SIA-glass{
    height: auto;
    width: 10%;
}

.GDIS{
    height: auto;
    width: 15%;
}

.GDIS-glass{
    height: auto;
    width: 18%;
}

.SNB{
    height: auto;
    width: 15%;
}

.CGR{
    height: auto;
    width: 25%;
}

.CM{
    height: auto;
    width: 18%;
}

.CZECH{
    height: auto;
    width: 18%;
}

.DN{
    height: auto;
    width: 18%;
}

.DFH60{
    height: auto;
    width: 18%;
}

.DDB{
    height: auto;
    width: 20%;
}

.DSB{
    height: auto;
    width: 15%;
}

.FCLB{
    height: auto;
    width: 13%;
}

.GROLSCH{
    height: auto;
    width: 13%;
}


.G0{
    height: auto;
    width: 20%;
}

.HEINE{
    height: auto;
    width: 17%;
}

.K64B{
    height: auto;
    width: 11%;
}

.LC{
    height: auto;
    width: 15%;
}

.LGIPA{
    height: auto;
    width: 7%;
}

.LFDM{
    height: auto;
    width: 22%;
}

.LTQ{
    height: auto;
    width: 19%;
}

.ayinger{
    height: auto;
    width: 8%;
}
