/* OLD MONK BEER */
.ayinger{
    height: auto;
    width: 10%;
}

.carlsberg{
    height: auto;
    width: 8%;
}

.CR{
    height: auto;
    width: 30%;
}

.CGR{
    height: auto;
    width: 30%;
}

.CM{
    height: auto;
    width: 25%;
}

.CZECH{
    height: auto;
    width: 25%;
}

.DN{
    height: auto;
    width: 25%;
}

.DFH60{
    height: auto;
    width: 35%;
}

.DDB{
    height: auto;
    width: 35%;
}

.DSB{
    height: auto;
    width: 25%;
}

.FCLB{
    height: auto;
    width: 13%;
}

.GROLSCH{
    height: auto;
    width: 15%;
}

.G0{
    height: auto;
    width: 35%;
}

.HEINE{
    height: auto;
    width: 25%;
}

.HEINE0{
    height: auto;
    width: 20%;
}

.K64B{
    height: auto;
    width: 18%;
}

.LC{
    height: auto;
    width: 25%;
}

.LGIPA{
    height: auto;
    width: 10%;
}

.LFDM{
    height: auto;
    width: 30%;
}

.LTQ{
    height: auto;
    width: 25%;
}

.KRIEK{
    height: auto;
    width: 35%;
}

.peache{
    height: auto;
    width: 20%;
}

.maredsous{
    height: auto;
    width: 15%;
}

.mhsaltylady{
    height: auto;
    width: 35%;
}

.newcastle{
    height: auto;
    width: 35%;
}

.orval{
    height: auto;
    width: 18%;
}

.po{
    height: auto;
    width: 35%;
}

.ps{
    height: auto;
    width: 22%;
}

.pilsner{
    height: auto;
    width: 15%;
}

.rochefort{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rochefort6{
    height: auto;
    width: 30%;
}

.rochefort8{
    height: auto;
    width: 41%;
}

.rf8{
    height: auto;
    width: 10%;
}

.rochefort10{
    height: auto;
    width: 22%;
}

.rf10{
    height: auto;
    width: 9%;
}

.sd{
    /* PLACEHOLDER */
}

.sscs{
    height: auto;
    width: 35%;
}

.SNPA{
    height: auto;
    width: 18%;
}

.stoneipa{
    height: auto;
    width: 35%;
}

.tripkarmeliet{
    height: auto;
    width: 15%;
}

.wdw{
    height: auto;
    width: 15%;
}

.WMD{
    height: auto;
    width: 10%;
}

.WMT{
    height: auto;
    width: 35%;
}

.yuengling{
    height: auto;
    width: 10%;
}

.domestic{
    height: auto;
    width: 20%;
}

.XX{
    height: auto;
    width: 10%;
}
